*{
    font-family: 'Montserrat', sans-serif
}
body{
    width: auto;
    background-image: url(imagens/fundo.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}
main{
    background-color: #fcf5d5;
    margin-inline: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bolder;
}

h3{
    text-align: center;
    padding: 10px;
}
input{
    border-radius: 10px;
}

hr{
    background-color: black;
    height: 5px;
    width: 85%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 100px;
}
